html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
/*------------------------------------------------------------------
    [Buttons]
------------------------------------------------------------------*/
.btn-theme {
  border: 1px solid #F39314;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: 500;
  padding: 12px 40px;
  color: #F39314;
  background: none;
}
.btn-success {
  border-color: #27AE60;
  color: #27AE60;
}
.btn-gray {
  border-color: #828282;
  color: #828282;
}
.slider-btn {
  font-weight: bold;
  color: #F39314;
  text-decoration: underline;
  border: 0;
  padding: 0;
}
.slider-btn img {
  padding-left: 6px;
}
/*------------------------------------------------------------------
    [Wrapper]
------------------------------------------------------------------*/
.wrapper {
  border-top: 1px solid #eeeeee;
  flex: 1 0 auto;
}
.wrapper h3 {
  line-height: 44px;
  color: #bdbdbd;
  margin: 0 0 12px 0;
}
.wrapper h4 {
  color: #333;
  margin: 0 0 22px 0;
}
.wrap-content {
  display: flex;
  margin: 0 -17px;
  height: 100%;
}
.wrap-content .content {
  border-left: 1px solid #eeeeee;
  padding: 26px;
  width: 100%;
}
.wrap-content .content-partner {
  font-family: 'Segoe UI', arial;
  border-left: 1px solid #eeeeee;
  padding: 24px 18px;
}
.indent {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 -17px;
}
/*------------------------------------------------------------------
    [Icons]
------------------------------------------------------------------*/
.icon {
  display: inline-block;
  width: 212px;
  background-color: #f9f9f9;
  height: 212px;
  background-repeat: no-repeat;
  background-position: center;
  flex: none;
}
.icon-map {
  background-image: url(img/map.svg);
}
.icon-vac {
  background-image: url(img/vac.svg);
}
.icon-doc {
  background-image: url(img/doc.svg);
}
.icon-mail {
  background-image: url(img/mail.svg);
}
.icon-partner {
  background-image: url(img/partner.svg);
}
.icon-about {
  background-image: url(img/about.svg);
}
.icon-pencil {
  background-image: url(img/pencil.svg);
}
.icon-logo {
  background-image: url(img/logo.svg);
}
.icon-play {
  background-image: url(img/play.svg);
}
/*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/
.navbar {
  padding: 19px 1rem;
}
.navbar-brand {
  padding-left: 11px;
  padding-right: 11px;
}
.navbar-nav .active a {
  color: #F39314;
}
.nav-item {
  padding-left: 4px;
  padding-right: 4px;
}
.nav-item a {
  color: #2B2A29;
  transition: .1s ease-in-out;
}
.nav-item:hover a {
  color: #F39314;
}
.navbar-toggler-icon {
  background-image: url("img/burger.svg");
  width: 18px;
  height: 14px;
}
.nav-mobile {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #BDBDBD;
  justify-content: space-between;
}
.nav-mobile button {
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.06);;
  background: none;
  width: 50px;
  height: 50px;
}
.nav-mobile .navbar-toggler-icon {
  background-image: url(img/menu-close.svg);
  width: 18px;
  height: 18px;
}
/*------------------------------------------------------------------
    [Phone]
------------------------------------------------------------------*/
.phone {
  font-family: 'Open Sans', sans-serif;
  color: #2B2A29;
  background-repeat: no-repeat;
  background-position:left center;
  background-image: url(img/phone.svg);
}
.phone-mobile {
  color: #BDBDBD;
  font-size: 12px;
  background-image: url(img/phone-mobile.svg);
}
.phone-footer {
  color: #fff;
  font-size: 14px;
  background-image: url(img/phone-dark.svg);
}
.phone-footer a {
  font-size: 14px!important;
  padding-right: 32px!important;
}
/*------------------------------------------------------------------
    [Border Line]
------------------------------------------------------------------*/
.slide-line {
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-right: 1px solid rgba(255, 255, 255, .3);
  padding: 60px 17px;
  height: 100%;
}
.site-contact {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 15px 17px 119px 17px;
}
.line {
  padding: 15px 17px 12px 17px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eee;
}
/*------------------------------------------------------------------
    [Container]
------------------------------------------------------------------*/
.container {
  max-width: 1200px;
}
.contact-container {
  width: 86%
}
/*------------------------------------------------------------------
    [News Slider]
------------------------------------------------------------------*/
.slide {
  position: relative;
  width: 100%;
  height: auto;
}
.slide .text {
  position: relative;
  z-index: 2;
}
.slide .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
  z-index: 2;
}
.slide ul {
  margin: 0;
}
.slide ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
}
.slide .dots {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  left: calc(50% + 551px);
  bottom: 201px;
  z-index: 3;
  padding: 0;
}
.slide .dots li {
  display: block;
  margin: 6px 0;
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
  list-style: none;
  opacity: 0.5;
}
.slide .dots li.active {
  position: relative;
  margin: 2px 0;
  width: 12px;
	height: 12px;
  border: 1px solid #F39314;
  opacity: 1;
}
.slide .dots li.active::after {
  content: '';
	width: 6px;
  height: 6px;
	position: absolute;
  background: #F39314;
  border-radius: 10px;
	top: 2px;
	left: 2px;
	color: #99a1a7;
}
.slide .arrow {
  position: absolute;
  z-index: 2;
  left: calc(50% + 534px);
  bottom: 162px;
}
.slide .arrow .arrow-left,
.slide .arrow .arrow-right {
  position: absolute;
  top: 50%;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.slide .arrow .arrow-left {
  background: url(img/arrow-down.svg);
  background-size: contain;
}
.slide .arrow .arrow-right {
  top: 66px;
  background: url(img/arrow-up.svg);
  background-size: contain;
}
.slider-text {
  color: #fff;
  padding-bottom: 125px;
}
.slider-text p {
  margin: 3px;
}
.slider-text h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.news-block {
  color: #fff;
  align-items: flex-end;
}
.news-block h4 {
  font-weight: bold
}
/*------------------------------------------------------------------
    [Project Slider]
------------------------------------------------------------------*/
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
  border: 1px solid #F39314;
  box-sizing: border-box;
  border-radius: 0;
}
.lSSlideOuter .lSPager.lSGallery li {
  position: relative;
  background: #d2cbc4;
}
.lSSlideOuter .lSPager.lSGallery li::after {
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background: linear-gradient(rgba(3, 3, 3, 0.6),rgba(3, 3, 3, 0.6));
  box-sizing: border-box;
}
.lSSlideOuter .lSPager.lSGallery li.active::after {
  opacity: 1;
}
.lSSlideOuter .lSSlideWrapper .lightSlider img {
  height: 512px;
}
.lSAction a {
  position: relative;
  width: 48px;
  height: 48px;
  opacity: 1;
}
.lSAction .lSPrev {
  background: url(img/arrow-down.svg);
  left: 0;
  top: -32px;
}
.lSAction .lSNext {
  background: url(img/arrow-up.svg);
  right: 0;
}
.project h3 {
  font-style: normal;
  font-weight: bold;
  color: #2B2A29;
  margin: 0;
}
.project .title {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #A5A5A5;
  margin: 4px 0;
}
.project {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 24px 17px
}
/*------------------------------------------------------------------
    [Contact Section]
------------------------------------------------------------------*/
.site-contact {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 15px 17px 119px 17px;
}
.site-contact h3 {
  color: #2B2A29;
  margin: 28px 0;
  font-size: 14px;
  font-weight: bold;
}
.contact {
  padding-right: 0;
}
.contact .form-group label {
  display: block;
  font-weight: bold;
  color: #2B2A29;
  font-size: 12px;
}
.contact .form-group input {
  color: #828282;
  border: 0;
  border-bottom: 1px solid #D5D4D4;
  border-radius: 0;
}
.submit-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}
.custom-checkbox {
  -webkit-appearance: none;
	border: 1px solid #F39314;
	padding: 6px!important;
	display: inline-block;
	position: relative;
}
.custom-checkbox:checked:after {
	content: '';
	width: 6px;
  height: 6px;
	position: absolute;
  background: #F39314;
	top: 3px;
	left: 3px;
	color: #99a1a7;
}
.personal-data {
  display: flex;
  align-items: center;
}
.personal-data label {
  padding-right: 14px;
  margin-bottom: 0;
}
/*------------------------------------------------------------------
    [Footer]
------------------------------------------------------------------*/
.footer {
  background: #2B2A29;
}
.footer-nav {
  color: #fff;
}
.footer-nav .title {
  font-weight: bold;
  font-size: 18px;
}
.footer-nav a {
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
  text-decoration: underline;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-info p {
  font-size: 14px;
  text-align: right;
}




.seven-cols .col-sv,
.seven-cols .col-nf{
  padding-left: 9px;
  padding-right: 9px;
}
.object .col-object-1,
.object .col-object-2,
.object .col-object-3 {
  padding-left: 18px;
  padding-right: 18px;
}









@media (max-width: 992px){
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 280px;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    z-index: 99999;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse .navbar-nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 16px;
  }
  .offcanvas-collapse .navbar-nav li .nav-link{
    padding:.893rem 1rem;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .menu-btn {
    background: #F39314;
    height: 50px;
    width: 50px;
  }
  .navbar-brand img {
    height: 35px;
  }
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .div-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, .8);
    z-index: 9999;
  }
  .div-mask.show {
    display: block;
  }
  .slide .overlay {
    display: none;
  }
  .slide .arrow {
    left: calc(50% + 47px);
  }
  .slide .arrow .arrow-right{
    top: 0;
    left: 48px;
    background-image: url(img/arrow-rightt.svg);
  }
  .slide .arrow .arrow-left{
    background-image: url(img/arrow-left.svg);
  }
  .slide .dots {
    left: 12px;
    bottom: 130px;
    flex-direction: row;
  }
  .slide .dots li {
    margin: 0 6px;
  }
  .slide .slider-text h2{
    font-size: 14px;
    color: #2B2A29;
  }
  .slide .slider-text {
    background: #f9f6f6;
    padding: 24px;
    color: #2B2A29;
    font-size: 12px;
  }
  .slide-line {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;;
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
  }
  .container {
    max-width: 100%;
  }
  .news-block {
    margin: 0;
    color: #2B2A29;
    font-size: 12px;
  }
  .news-block h4 {
    font-size: 14px;
    padding-top: 12px;
  }
  .news-block a {
    text-align: center;
  }
  .seven-cols .col-sv {
    width: 50%;
  }
  .seven-cols .col-nf {
    width: 100%;
  }
  .footer-info p {
    text-align: left;
  }
  .phone {
    background-size: 13px;
    padding-left: 20px;
  }
  .platforma {
    text-align: left;
  }
  .footer-info {
    align-items: flex-start;
  }
  .footer-contact {
    display: block;
  }
  .footer-contact a {
    color: #F39314;
  }
  .submit-block {
    flex-direction: column;
  }
  .site-contact {
    border: 0;
  }
  .contact {
    margin-left: 0;
  }
  .contact .form-group{
    padding-left: 0;
  }
  .submit-block {
    padding: 0;
  }
  .slider-btn {
    border: 1px solid #F39314;
    padding: 9px 28px;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
  }
  .personal-data {
    background: #f1f1f1;
    width: 100%;
    margin-bottom: 28px;
    justify-content: space-between;
    font-size: 10px;
    padding: 12px 0;
  }
  .slide ul li {
    height: 200px;
    margin-top: 300px;
  }
  .news-block .col-lg-6:last-child {
    padding-top: 210px;
  }
  .news-block .col-lg-6:last-child h4{
    margin-right: 100px;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-sv {
    width: 20%;
  }
  .seven-cols .col-nf {
    width: 60%;
  }
  .phone {
    background-size: 18px;
    padding-left: 26px;
  }
  .object .col-object-1 {
    width: 34.31818181%
  }
  .object .col-object-2 {
    width: 25.22727272%
  }
  .object .col-object-3 {
    width: 40.45454545%
  }
  .contact-container {
    width: 86%
  }
  .site-contact h3 {
    font-size: 28px;
  }
  .news-block .col-lg-6 {
    padding-right: 60px;
  }

  .news-block {
    font-size: 12px;
  }
  .contact {
    padding: 0;
  }

}

@media (min-width: 1200px) {
  .seven-cols .col-sv {
    width: 14.285714285714285714285714285714%;
  }
  .seven-cols .col-nf {
    width: 100%;
  }
  .object .col-object-1 {
    width: 36.33333333%
  }
  .object .col-object-2,
  .object .col-object-3 {
    width: 31.83333333%
  }
  .phone {
    background-size: 24px;
    padding-left: 40px;
  }
  .contact-container {
    width: 79%
  }
  .contact {
    padding-right: 211px;
  }
  .site-contact h3 {
    font-size: 36px;
  }
}
