html,
body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
/* ---------------------------------
      Navbar
--------------------------------- */
.navbar-brand {
	padding-left: 11px;
	padding-right: 11px;
}
.nav-item {
	padding-left: 4px;
	padding-right: 4px;
}
.nav-item a {
	color: #2b2a29;
}
.navbar-nav .active a {
	color: #f39314;
}
.navbar-toggler-icon {
	background-image: url('img/burger.svg');
	height: 1em;
	width: 1em;
}
.nav-mobile {
	color: #bdbdbd;
	display: flex;
	font-size: 16px;
	font-weight: bold;
	justify-content: space-between;
}
.nav-mobile button {
	background: none;
	border: 0;
	border-left: 1px solid rgba(0, 0, 0, .06);
	height: 50px;
	width: 50px;;
}
.nav-mobile .navbar-toggler-icon {
	background-image: url(img/menu-close.svg);
	height: 18px;
	width: 18px;
}
.site-nav a {
	color: #2b2a29;
	margin: 0 12px;
	text-decoration: none;
}
/* ---------------------------------
      Buttons
--------------------------------- */
.btn-theme {
	border: 1px solid #f39314;
	border-radius: 29px;
	box-sizing: border-box;
	color: #f39314;
	font-size: 14px;
	font-weight: 500;
	padding: 10px 40px;
}
.btn-theme:hover {
	background: #f39314;
	color: #fff;
}
.btn-more:focus,
.btn-theme:focus {
	box-shadow: none;
}
.btn-success,
.btn-success:hover,
.btn-success:active {
	background: none!important;
	border-color: #27ae60!important;
	color: #27ae60!important;
}

.btn-gray,
.btn-gray:hover,
.btn-gray:active {
	background: none;
	border-color: #828282;
	color: #828282;
}
.btn-more {
	background-image: url(img/arrow-more-down.svg);
	background-position: right center;
	background-repeat: no-repeat;
	color: #f39314;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 600;
	padding-right: 24px;
	text-decoration: underline;
	text-transform: uppercase;
}
.btn-more:hover {
	color: #f39314;
	text-decoration: underline;
}
.btn-more[aria-expanded='true'] {
	background-image: url(img/arrow-more-up.svg);
	text-decoration: underline;
}
.slider-btn {
	border: 0;
	color: #f39314;
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	text-decoration: underline;
}
.slider-btn:hover {
	color: #f39314;
	text-decoration: none;
}
.slider-btn img {
	padding-left: 6px;
}
/* ---------------------------------
      Container
--------------------------------- */
.wrapper {
	border-top: 1px solid #eee;
	flex: 1 0 auto;
}
.wrapper h3 {
	color: #bdbdbd;
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;
	margin: 0 0 12px 0;
}
.wrapper h4 {
	color: #333;
	font-weight: bold;
	margin: 0 0 22px 0;
}
.wrap-content {
	display: flex;
	height: 100%;
	margin: 0 -17px;
}
.wrap-content .content {
	border-left: 1px solid #eee;
	padding: 26px;
	width: 100%;
}
.content .title {
	color: #2b2a29;
	font-weight: bold;
}
.indent {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 0 -17px;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.line {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	min-height: 100%;
	padding: 15px 17px 12px 17px;
}
/* ---------------------------------
      Icons
--------------------------------- */
.wrap-content .icon {
	background-color: #f9f9f9;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 212px;
	width: 212px;
	flex: none;
}
.icon-map {
	background-image: url(img/map.svg);
}
.icon-vac {
	background-image: url(img/vac.svg);
}
.icon-doc {
	background-image: url(img/doc.svg);
}
.icon-mail {
	background-image: url(img/mail.svg);
}
.icon-partner {
	background-image: url(img/partner.svg);
}
.icon-about {
	background-image: url(img/about.svg);
}
.icon-pencil {
	background-image: url(img/pencil.svg);
}
.icon-logo {
	background-image: url(img/logo.svg);
}
.icon-play {
	background-image: url(img/play.svg);
}
/* ---------------------------------
      Phone blocks
--------------------------------- */
.phone {
	background-image: url(img/phone.svg);
	background-position: left center;
	background-repeat: no-repeat;
	color: #2b2a29;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}
.phone-mobile {
	background-image: url(img/phone-mobile.svg);
	color: #bdbdbd;
	font-size: 12px;
}
.phone-footer {
	background-image: url(img/phone-dark.svg);
	color: #fff;
	font-size: 14px;
}
/* ---------------------------------
      Footer
--------------------------------- */
.footer {
	background: #2b2a29;
	padding: 52px 0 102px 0;
}
.footer-nav {
	color: #fff;
}
.footer-nav .title {
	font-size: 18px;
	font-weight: bold;
}
.footer-nav a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 6px 0;
	text-decoration: underline;
}
.footer-nav a:hover {
	text-decoration: none;
}
.footer-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.footer-info p {
	font-size: 14px;
	text-align: right;
}
.footer-contact {
	display: inline-flex;
	align-items: center;
}
.footer-logo {
	padding-right: 164px!important;
	width: 21.5%!important;
}
.footer-logo p {
	margin: 0;
}
.footer-logo h5 {
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 14px;
}
.footer-contact a {
	color: #fff;
	padding-right: 32px;
}
.footer-contact p {
	padding-left: 16px;
}
.copy {
	color: #fff;
	font-size: 14px;
	align-items: flex-end;
}
.copy p {
	margin-bottom: 0;
}
.copy .col-lg-6 {
	padding-left: 9px;
	padding-right: 9px;
}
.platforma {
	color: #fff;
	padding-top: 2px;
	text-align: right;
}
.platforma span {
	display: block;
}
.seven-cols .col-sv,
.seven-cols .col-nf {
	padding-left: 9px;
	padding-right: 9px;
}
/* ---------------------------------
      Page - Contact
--------------------------------- */
.site-contact {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 15px 17px 119px 17px;
}
.map {
	width: 513px;
	flex: none;
}
.contact .form-group label {
	color: #2b2a29;
	display: block;
	font-size: 18px;
	font-weight: bold;
}
.contact .form-group input {
	border: 0;
	border-bottom: 1px solid #d5d4d4;
	border-radius: 0;
	color: #828282;
}
.submit-block {
	display: flex;
	padding-top: 21px;
	align-items: center;
	justify-content: space-between;
}
.personal-data {
	display: flex;
	align-items: center;
}
.personal-data label {
	font-size: 12px;
	margin-bottom: 0;
	padding-right: 11px;
}
.custom-checkbox {
	border: 1px solid #f39314;
	display: inline-block;
	padding: 6px!important;
	position: relative;
	-webkit-appearance: none;
}
.custom-checkbox:checked:after {
	background: #f39314;
	color: #99a1a7;
	content: '';
	height: 6px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 6px;
}
.contact-info {
	font-family: 'Segoe UI', arial;
	padding: 26px;
}
.contact-info p {
	color: #2b2a29;
}
.contact-info b {
	color: #828282;
}
.wrap-map {
	padding: 0!important;
}
.wrap-contact h5 {
	color: #f39314;
	font-family: 'Segoe UI', arial;
	font-size: 16px;
}
.wrap-contact p {
	font-family: 'Segoe UI', arial;
	font-size: 14px;
}
.wrap-contact label {
	color: #828282!important;
}
/* ---------------------------------
      Page - Main
--------------------------------- */
.slide-line {
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-right: 1px solid rgba(255, 255, 255, .3);
	height: 100%;
	padding: 60px 17px;
}
.site-slider {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)), url(slider.png) 0 -16px no-repeat;
	background-size: cover;
}
.news-block {
	color: #fff;
	align-items: flex-end;
}
.news-block .col-lg-6 {
	z-index: 10;
}
.news-block h4 {
	font-size: 20px;
	font-weight: bold;
}
.slider-text h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
.slider-text {
	color: #fff;
	padding-bottom: 125px;
	z-index: 120000;
}
.slider-text p {
	margin: 3px;
}
.project .title {
	color: #a5a5a5;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: .1em;
	margin: 4px 0;
}
.project {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 24px 17px;
}
.project h3 {
	color: #2b2a29;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
	border: 1px solid #f39314;
	border-radius: 0;
	border-radius: 0;
	box-sizing: border-box;
}
.lSSlideOuter .lSPager.lSGallery li {
	background: #d2cbc4;
	position: relative;
}
.lSSlideOuter .lSPager.lSGallery li::after {
	background: linear-gradient(rgba(3, 3, 3, .6),rgba(3, 3, 3, .6));
	box-sizing: border-box;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.lSSlideOuter .lSPager.lSGallery li.active::after {
	opacity: 1;
}
.lSSlideOuter .lSSlideWrapper .lightSlider img {
	height: 512px;
}
.slide {
	height: auto;
	position: relative;
	width: 100%;
}
.slide .text {
	position: relative;
	z-index: 2;
}
.slide .overlay {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6));
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.slide-img {
	z-index: -2;
}
.slide ul {
	margin: 0;
	padding: 0;
}
.slide ul li {
	display: block;
	height: 100%;
	left: 0;
	list-style: none;
	position: absolute;
	top: 0;
	width: 100%;
}
.slide .dots {
	bottom: 201px;
	display: flex;
	flex-direction: column;
	left: calc(50% + 551px);
	padding: 0;
	position: absolute;
	z-index: 3;
	align-items: center;
}
.slide .dots li {
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 6px;
	list-style: none;
	margin: 6px 0;
	opacity: .5;
	width: 6px;
}
.slide .dots li.active {
	border: 1px solid #f39314;
	height: 14px;
	margin: 2px 0;
	opacity: 1;
	position: relative;
	width: 14px;
}
.slide .dots li.active::after {
	background: #f39314;
	border-radius: 10px;
	color: #99a1a7;
	content: '';
	height: 6px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 6px;
}
.slide .arrow {
	bottom: 162px;
	left: calc(50% + 534px);
	position: absolute;
	z-index: 2;
}
.slide .arrow .arrow-left,
.slide .arrow .arrow-right {
	cursor: pointer;
	display: block;
	height: 48px;
	opacity: .6;
	position: absolute;
	top: 50%;
	transition: .5s ease-in-out;
	width: 48px;
}
.slide .arrow .arrow-left:hover,
.slide .arrow .arrow-right:hover {
	opacity: 1;
}
.slide .arrow .arrow-left {
	background: url(img/arrow-down.svg);
	background-size: contain;
}
.slide .arrow .arrow-right {
	background: url(img/arrow-up.svg);
	background-size: contain;
	top: 66px;
}
.project-slider .lSSlideOuter {
	float: left;
	padding-top: 12px;
	position: relative;
}
.lSGallery {
	padding-top: 12px;
}
.project-slider p {
	font-size: 14px;
	line-height: 22px;
}
.project-slider .right-side {
	display: flex;
	flex-direction: column;
	float: left;
	position: relative;
	width: 40.7333333333%;
	justify-content: space-between;
}
.project-slider {
	display: flex;
	padding-bottom: 26px;
}
.lSAction a {
	height: 48px;
	opacity: 1;
	position: relative;
	width: 48px;
}
.lSAction .lSPrev {
	background: url(img/arrow-down.svg);
	left: 0;
	top: -32px;
}
.lSAction .lSNext {
	background: url(img/arrow-up.svg);
	right: 0;
}
/* ---------------------------------
      Page - Jobs & Partner
--------------------------------- */
.date {
	color: #828282;
	font-size: .75rem;
	margin-top: 100px;
}
.card-cst {
	border-color: #e2e2e2;
	border-radius: 0;
	font-family: 'Segoe UI', arial;
}
.card-cst {
	font-size: 14px;
}
.card-cst .card-header {
	background-color: #fcfcfc;
	background-image: url(img/menu-down.svg);
	background-position: 99% center;
	background-repeat: no-repeat;
	padding: .532rem .75rem;
}
.card-cst .card-header[aria-expanded='true'] {
	background-image: url(img/menu-up.svg);
}
.items-enum {
	list-style: none;
	padding-left: 0;
	text-decoration: underline;
}
.items-enum li a {
	color: #f39314;
	font-size: .75rem;
}
/* ---------------------------------
      Page - Object
--------------------------------- */
.object {
	font-family: 'Segoe UI', Arial;
	margin: 0 -17px;
}
.object h5 {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}
.object-info {
	color: #333;
	font-size: 12px;
}
.object-info .state {
	background: #f39314;
	color: #fff;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 12px;
	padding: 4px 12px;
}
.object .col-object-2 {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.object-doc h5 {
	padding-top: 36px;
}
.object-doc a {
	color: #f39314;
	display: block;
	line-height: 14px;
	padding: 6px 0;
	text-decoration: underline;
}
.pagination {
	border-bottom: 1px solid #eee;
	margin: 0 -17px;
	margin-bottom: 29px;
}
.pagination .page-item {
	border-right: 1px solid #eee;
}
.pagination .page-item.active .page-link {
	background: none;
	color: #f39314;
}
.pagination .page-item a {
	border: 0;
	color: #aaa;
	margin-left: 0;
	padding: 22px 26px;
}
.object .col-object {
	padding-left: 18px;
	margin: 0;
}
.object .col-object-3 {
	padding-left: 12px;
	padding-right: 18px;
}
.object .col-object-1 {
	padding-right: 12px;
}
.object .col-object-2 {
	padding-left: 12px;
	padding-right: 12px;
	margin: 0;
}
#collapseExample {
  display: flex;
}
/* ---------------------------------
      Page - Partner
--------------------------------- */
.content-partner {
	border-left: 1px solid #eee;
	font-family: 'Segoe UI', arial;
	padding: 24px 18px;
}
.point hr {
	border: 2px solid #eee;
	display: inline-block;
	width: 142px;
}
.point .s {
	display: flex;
	padding: 12px;
}
.point .s p {
	margin: 0;
}
.point .s .place {
	font-weight: bold;
	margin: 0;
}
.point .s h5 {
	margin: 6px 0;
}
.point .s1 {
	background: #ffdd9c;
}
.point .s2 {
	background: #ffebc3;
}
.point .s3 {
	background: #fff7e7;
}
.point .s1 hr {
	border-color: #f39314;
}
.point .s2 hr {
	border-color: #f2b25c;
}
.point .s3 hr {
	border-color: #f1cea1;
}
.content-partner .text {
	background: #fbfbfb;
	display: inline-block;
	margin-right: 40px;
	padding: 12px 18px;
}
.s .logo {
	background: #fff;
	border-radius: 50%;
	display: inline-flex;
	height: 52px;
	margin-right: 14px;
	vertical-align: top;
	width: 52px;
	align-items: center;
	flex: none;
	justify-content: center;
}
.places .text p {
	margin: 0;
}
/* ---------------------------------
      Page - About
--------------------------------- */
.about-text {
	background: #f9f9f9;
	line-height: 20px;
	padding: 38px 44px 34px 26px;
}
.about-company {
	line-height: 20px;
	padding: 26px;
}
.about-photo {
	display: inline-flex;
	flex-direction: column;
	width: 316px;
	flex: none;
	justify-content: space-between;
}
.about-photo p {
	margin: 0;
	text-align: right;
}
.about-photo .text {
	padding-bottom: 36px;
	padding-right: 27px;
}
.about,
.intro,
.team {
	font-family: 'Segoe UI', Arial;
}
.intro .content {
	display: flex;
	padding: 0;
	justify-content: space-between;
}
.youtube .content {
	padding: 0;
	width: 100%;
}
.about .content {
	padding: 0;
}
.youtube {
	border-bottom: 1px solid #eee;
	margin-bottom: 68px;
}
.team .content {
	overflow: hidden;
	padding: 0;
}
.team .content .title {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
	font-size: 18px;
	padding: 38px 37px 33px 27px;
}
.about-info {
	background: #f9f9f9;
	padding: 19px 26px 11px 26px;
}
.about-info .info-block {
	display: inline-block;
	padding-right: 60px;
}
.about-info .info-block hr {
	border: 2px solid #f39314;
	display: inline-block;
	width: 80px;
}
.about-info .info-block b {
	line-height: 20px;
}
.about-info .info-block p {
	line-height: 14px;
	width: 190px;
}
.item .item-img {
	height: 318px;
	overflow: hidden;
	width: 360px;
	flex: none;
}
.item .item-text {
	border-top: 1px solid #eee;
	font-size: 14px;
	padding-right: 26px;
	padding-top: 33px;
	text-align: right;
	width: 100%;
}
.item .item-text p {
	margin: 0;
}
.row-about {
	padding-left: 15px;
	padding-right: 15px;
}
.row-about .col-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.row-about .navigation {
	background: #f9f9f9;
	padding: 24px 18px 24px 0;
	text-align: right;
	vertical-align: bottom;
	flex: none;
}
.row-about .navigation button {
	background: none;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	height: 18px;
	margin-right: 18px;
	width: 23px;
}
.row-about .navigation .owl-prev {
	background-image: url(img/slide-team-larrow.svg);
}
.row-about .navigation .owl-next {
	background-image: url(img/slide-team-rarrow.svg);
}
.row-about .owl-dots {
	display: flex;
	padding-bottom: 22px;
	position: absolute;
	right: calc(50% - 574px);
	z-index: 10;
	align-items: center;
}
.slide-team .dots {
	display: flex;
	margin-right: 24px;
	z-index: 3;
	align-items: center;
	order: 2;
}
.row-about .owl-dots li {
	border: 1px solid #aaa;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 8px;
	list-style: none;
	margin: 0 6px;
	opacity: .5;
	width: 8px;
}
.row-about .owl-dots li.active {
	border: 1px solid #f39314;
	height: 14px;
	margin: 2px 0;
	opacity: 1;
	position: relative;
	width: 14px;
}
.row-about .owl-dots li.active::after {
	background: #f39314;
	border-radius: 10px;
	color: #99a1a7;
	content: '';
	height: 6px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 6px;
}
#owl-about .item {
	background: #f9f9f9;
	display: flex;
}
/* ---------------------------------
      Media Query - Table (992px - 1200px)
--------------------------------- */
@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
	.wrapper h3 {
		font-size: 26px;
	}
	.news-block .col-lg-6 {
		padding-right: 80px;
	}
	.contact .form-group label {
		font-size: 16px;
	}
	.container {
		max-width: 882px;
	}
	.footer {
		padding: 52px 0 31px 0;
	}
	.map {
		width: 340px;
	}
	.site-header {
		height: 64px;
		padding: 0 17px;
	}
	.site-nav {
		padding: 0;
	}
	.site-logo {
		padding: 0;
	}
	.news-block h4 {
		font-size: 16px;
	}
	.news-block p {
		font-size: 12px;
		line-height: 16px;
	}
	.navbar {
		padding: .224rem 1rem;
	}
	.navbar-brand img {
		height: 49px;
	}
	.slide-line {
		padding: 32px 17px;
	}
	.slider-text {
		padding-bottom: 40px;
	}
	.slider-text p {
		margin: 0;
	}
	.slider-text h2 {
		font-size: 16px;
	}
	.slide .dots {
		bottom: 24px;
		left: calc(50% + 410px);
	}
	.slide .arrow {
		bottom: 128px;
		left: calc(50% + 358px);
	}
	.slide .arrow .arrow-right {
		top: 52px;
	}
	.slide .arrow .arrow-left,
	.slide .arrow .arrow-right {
		height: 36px;
		width: 36px;
	}
	.footer .footer-item {
		width: 17.78%;
	}
	.footer .footer-contact {
		width: 62.22%!important;
	}
	.footer .footer-item:nth-child(6n) {
		margin-left: 0;
	}
	.project .title {
		position: absolute;
	}
	.project h3 {
		font-size: 28px;
		padding-top: 20px;
		position: absolute;
	}
	.project-slider p {
		font-size: 12px;
	}
	.lSSlideOuter .lSSlideWrapper {
		margin-top: 71px;
	}
	.lSSlideOuter .lSPager.lSGallery li {
		height: 50px!important;
	}
	.lSAction .lSPrev {
		top: 32px;
	}
	.lSAction .lSNext {
		left: 64px;
	}
	.lSSlideOuter .lSSlideWrapper .lightSlider img {
		height: 324px;
		width: 100%;
	}
	.footer-cnt {
		padding-bottom: 31px;
		padding-top: 5px;
	}
	.wrap-content .icon {
		background-size: 42px;
		height: 168px;
		width: 168px;
	}
	.icon-logo {
		background-size: 82px!important;
	}
	.row-about .col-item {
		width: 60.4781997%;
	}
	.row-about .col-nav {
		width: 39.5218003%;
	}
	.item .item-img {
		height: 195px;
		width: 221px;
	}
	.row-about .owl-dots {
		right: calc(50% - 425px);
	}
	.row-about .navigation {
		padding: 15px 8px 15px 0;
	}
	.team .content .title {
		padding: 16px 19px 19px 16px;
	}
	.item .item-text {
		font-size: 12px;
		padding: 16px 15px;
	}
	.about-company .title {
		font-size: 18px;
		margin-bottom: 18px;
	}
	.about-info .info-block {
		padding-right: 27px;
	}
	.about-info .info-block b {
		font-size: 28px;
	}
	.about-photo {
		width: 207px;
	}
  .phone {
		background-size: 18px;
		padding-left: 26px;
	}
  .site-contact h3 {
		font-size: 28px;
	}
	.contact {
		padding: 0;
	}
	.contact-container {
		width: 86%;
	}
	.seven-cols .col-sv {
		width: 20%;
	}
	.seven-cols .col-nf {
		width: 60%;
	}
	.object .col-object {
		width: 59.54545454%;
	}
	.object .col-object-1 {
		width: 57.6335878%;
	}
	.object .col-object-2 {
		width: 42.3664122%;
	}
	.object .col-object-3 {
		width: 40.45454545%;
	}
	.object .collapse {
		display: flex;
	}
}
/* ---------------------------------
      Media Query - Mobile (below 992px)
--------------------------------- */
@media (max-width: 992px) {
	.offcanvas-collapse {
		background-color: #fff;
		bottom: 0;
		left: 100%;
		overflow-y: auto;
		position: fixed;
		top: 0;
		transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
		visibility: hidden;
		width: 280px;
		z-index: 99999;
	}
	.offcanvas-collapse .navbar-nav li {
		border-bottom: 1px solid rgba(0, 0, 0, .06);
		padding-left: 16px;
	}
	.offcanvas-collapse .navbar-nav li .nav-link {
		padding: .893rem 1rem;
	}
	.offcanvas-collapse.open {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
		visibility: visible;
	}
	.pagination {
		border-top: 1px solid #eee;
		margin: 0 -12px;
		margin-bottom: 50px;
	}
	.pagination .page-item .page-link {
		color: #242424;
		font-size: 16px;
		padding: 9px 14px;
	}
	.page-item.active .page-link {
		background: #f5f5f5!important;
		color: #242424!important;
	}
	.wrap-content {
		border-top: 1px solid #eee;
		margin: 0 -12px;
	}
	.wrap-content .content .row {
		margin: 0;
	}
	.wrap-content .content .row .col-md-12 {
		padding: 0;
	}
	.wrap-content .content {
		border: 0;
		padding: 15px;
	}
	.intro .content {
		flex-direction: column;
	}
	.about-photo {
		flex-direction: row;
		width: 100%;
		order: -1;
	}
	.about-photo img {
		width: 41.875%;
	}
	.intro .content {
		padding: 0;
	}
	.about-photo .text {
		border-bottom: 1px solid #eee;
		font-size: 12px;
		padding: 38px 12px 0 33px;
		width: 100%;
	}
	.wrap-contact .content {
		border: 0;
		padding: 15px;
	}
	.about-text {
		background: none;
		padding: 18px 12px;
	}
	.wrap-contact .contact .form-group {
		padding: 0;
	}
	.content .row {
		margin: 0;
	}
	.contact .form-group label {
		font-size: 12px;
	}
	.contact-container {
		width: 100%;
	}
	.contact-info {
		padding: 18px 0;
	}
	.wrapper h3 {
		font-size: 24px;
		margin: 0;
	}
	.line {
		border: 0;
		padding: 0 12px;
	}
	.menu-btn {
		background: #f39314;
		height: 50px;
		width: 50px;
	}
	.navbar-brand img {
		height: 35px;
	}
	.navbar {
		padding: 0;
	}
	.navbar-brand {
		padding-bottom: 0;
		padding-top: 0;
	}
	.object {
		background: #f9f5f5;
		margin-bottom: 16px;
		margin-left:-12px;
		margin-right:-12px;
	}
	.object .col-object-3 {
		order: -1;
	}
	.object .col-object,
	.object .col-object-1,
	.object .col-object-2,
	.object .col-object-3 {
		width: 100%;
	}
	.object h5,
	.object .col-object {
		padding-left: 12px;
		padding-right: 12px;
	}
	.object .col-object-3 {
		padding: 0;
	}
	.object .col-object-1,
	.object .col-object-2 {
		padding: 0;
		margin: 0;
		border: 0;
	}
	.about {
		flex-direction: column;
	}
	.div-mask {
		background: rgba(46, 46, 46, .8);
		display: none;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
	.div-mask.show {
		display: block;
	}
	.slide .slide-img {
		border-top: 1px solid #eee;
		margin: 34px 0 40px 0;
		position: relative;
		width: 100%;
	}
	.slide ul li {
		height: 200px;
		margin-top: 40px;
	}
	.slide .overlay {
		display: none;
	}
	.slide .arrow {
		bottom: 110px;
		left: calc(50% + 47px);
	}
	.slide .arrow .arrow-right {
		background-image: url(img/arrow-rightt.svg);
		left: 48px;
		top: 0;
	}
	.slide .arrow .arrow-left {
		background-image: url(img/arrow-left.svg);
	}
	.slide .dots {
		bottom: 140px;
		flex-direction: row;
		left: 12px;
	}
	.slide .dots li {
		margin: 0 6px;
	}
	.slide .slider-text h2 {
		color: #2b2a29;
		font-size: 14px;
	}
	.slide .slider-text {
		background: #f9f6f6;
		color: #2b2a29;
		font-size: 12px;
		padding: 24px;
	}
	.slide-line {
		border-bottom: 1px solid #eee;
		border-left: none;
		border-right: none;
		margin: 0;
		padding: 0;
		padding-bottom: 12px;
	}
	.container {
		max-width: 100%;
	}
  .news-block {
    font-size: 14px;
    line-height: 22px;
  }
	.wrapper h4 {
		font-size: 14px;
		margin: 18px 0;
		padding-left: 12px;
	}
	.content-partner .text {
		font-size: 12px;
		margin: 0;
		padding: 12px;
	}
	.content-partner .text .parther-list p {
		color: #828282;
		margin-bottom: 6px;
	}
	.content-partner .text .parther-list h5 {
		font-size: 14px;
	}
	.point .s .right-side h5 {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 12px;
		margin-top: 0;
	}
	.content-partner {
		padding: 0!important;
	}
	.content-partner .row {
		margin: 0;
	}
	.content-partner .row .col-lg-5,
	.content-partner .row .col-lg-7 {
		padding: 0;
	}
	.news-block {
		color: #2b2a29;
		font-size: 12px;
		margin: 0;
	}
	.news-block h4 {
		font-size: 14px;
		padding-top: 12px;
	}
	.news-block a {
		text-align: center;
	}
	.seven-cols .col-sv {
		width: 50%;
	}
	.seven-cols .col-nf {
		width: 100%;
	}
	.footer-info p {
		text-align: left;
	}
	.phone {
		background-size: 13px;
		padding-left: 20px;
	}
	.platforma {
		text-align: left;
	}
	.footer-info {
		align-items: flex-start;
	}
	.footer-contact {
		display: block;
	}
	.footer-contact a {
		color: #f39314;
	}
	.submit-block {
		flex-direction: column;
	}
	.site-contact {
		border: 0;
		padding: 12px 0;
	}
	.contact {
		margin: 0;
	}
	.footer {
		padding: 16px 0;
	}
	.seven-cols .col-sv,
	.seven-cols .col-nf {
		padding-left: 12px;
		padding-right: 12px;
	}
	.site-contact h3 {
		margin-top: 3px;
		padding-left: 17px;
		padding-right: 17px!important;
	}
	.contact .form-group {
		padding-left: 17px;
	}
	.submit-block {
		padding: 0;
	}
	.slider-btn {
		border: 1px solid #f39314;
		font-size: 12px;
		font-weight: 500;
		padding: 9px 28px;
		text-decoration: none;
	}
	.personal-data {
		background: #f1f1f1;
		font-size: 10px;
		margin-bottom: 28px;
		padding: 12px 17px;
		width: 100%;
		justify-content: space-between;
	}
	.news-block .col-lg-6:last-child {
		padding-top: 210px;
	}
	.news-block .col-lg-6:last-child h4 {
		margin-right: 150px;
	}
	.news-block .col-lg-6 {
		padding-right: 15px;
	}
	.team .content {
		padding: 0;
	}
	.team .content .title {
		border-right: 0;
		display: block;
		font-size: 14px;
		margin-bottom: 0;
	}
	.team .content .row {
		padding: 0;
	}
	.row-about .col-nav {
		left: 200px;
		position: absolute;
		width: auto;
		z-index: 20;
	}
	.row-about .col-nav .navigation {
		background: none;
	}
	.row-about .col-item {
		width: 100%;
	}
	.row-about .owl-dots {
		right: calc(50% + 160px);
		top: 230px;
	}
	.row-about .item .item-img {
		height: 160px;
		width: 180px;
	}
	.row-about .item {
		display: flex;
		flex-direction: column;
	}
	.row-about .item .item-text {
		padding: 16px 15px 50px 15px;
		text-align: left;
	}
	.object-doc h5 {
		padding-left: 0;
	}
	.object .col-object {
		margin: 0;
	}
	.about-text {
		height: 290px;
		overflow: hidden;
		position: relative;
		transition: height .35s ease;
	}
	.about-content {
		height: 290px;
		overflow: hidden;
		position: relative;
	}
	.text-open {
		height: auto;
		overflow: visible;
	}
	.text-open .toggle {
		display: none;
	}
	.about-company {
		padding: 0;
	}
	.about-info {
		margin: 0 -15px;
		padding: 16px 12px 0 12px;
	}
	.indent {
		margin: 0 -12px;
	}
  #collapseExample {
    display: block;
  }
}
/* ---------------------------------
      Media Query - Table (above 1200px)
--------------------------------- */
@media (min-width: 1200px) {
	.navbar {
		padding: 1.188rem 1rem;
	}
	.seven-cols .col-sv {
		width: 14.285714285714285714285714285714%;
	}
	.seven-cols .col-nf {
		width: 100%;
	}
	.object .col-object {
		width: 59.54545454%;
	}
	.object .col-object .col-object-1 {
		width: 53.3007335%;
	}
	.object .col-object .col-object-2 {
		width: 46.6992665%;
	}
	.object .col-object-3 {
		width: 40.45454545%;
	}
	.object .col-object {
		padding-left: 18px;
		margin: 0;
	}
	.object .col-object-3 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.object .col-object-1 {
		padding-right: 18px;
	}
	.object .col-object-2 {
		padding-left: 18px;
		padding-right: 18px;
		margin: 0;
	}
	.news-block .col-lg-6 {
		padding-right: 200px;
	}
	.row-about .col-item {
		width: 68.5222672%;
	}
	.row-about .col-nav {
		width: 31.4777328%;
	}
	.phone {
		background-size: 24px;
		padding-left: 40px;
	}
	.contact-container {
		width: 79%;
	}
	.contact {
		padding-right: 211px;
	}
	.site-contact h3 {
		font-size: 36px;
	}
	.about-info .info-block b {
		font-size: 36px;
		line-height: 20px;
	}
	.about-info .info-block p {
		font-size: 14px;
		margin-bottom: 0;
	}
	.about-company .title {
		font-size: 18px;
		margin-bottom: 18px;
	}
	.about-company p {
		font-size: 14px;
	}
	.object .collapse {
		display: flex;
	}
}

.animated {
	-webkit-animation-duration: 0ms  !important;
	        animation-duration: 0ms  !important;

	-webkit-animation-fill-mode: both  !important;
	        animation-fill-mode: both  !important;
}
.fadeOut {
	-webkit-animation-name: fadeOut  ;
	        animation-name: fadeOut  ;
}
@-webkit-keyframes  fadeOut {
	0% {
		opacity: 0   ;
	}
	100% {
		opacity: 0   ;
	}
}
@keyframes  fadeOut {
	0% {
		opacity: 0   ;
	}
	100% {
		opacity: 0   ;
	}
}
